<footer class="site-footer">
  <div class="wrapper">

    <p class="enjoy-responsibly">
      <a href="ypefthini-katanalosi.html">
        Υπεύθυνη Κατανάλωση
      </a> |
      <a href="#">
        Όροι Χρήσης
      </a>
    </p>

    <p class="copyrights">
      <a href="#">
        Alos © {{ 'now' | date: "%Y" }}
      </a>
      <a href="#">
        Designed by Faze Design Studio
      </a>
    </p>

  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/CSSRulePlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"></script>

<script src="{{"/assets/js/main.js" | relative_url }}"></script>

