<header class="site-header">

  <div class="wrapper cf">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <h1>
      <a class="logo" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </h1>

    {%- if titles_size > 0 -%}

    {% if page.url != "/ypefthini-katanalosi.html" %}

      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
          </span>
        </label>

        <div class="trigger">
          <div class="menu-links">
            <h2><a href="#start" class="menu-anchor">Αρχική</a></h2>
            <h2><a href="#s2" class="menu-anchor">Πληροφορίες</a></h2>
            <h2><a href="#s4" class="menu-anchor">Ιστορία</a></h2>
            <h2><a href="#text2-s4" class="menu-anchor">Gallery</a></h2>
            <h2><a href="#s6" class="menu-anchor">Επικοινωνία</a></h2>
          </div>
          <div class="social">
            <a href="http://instagram.com/chiosbeer" class="instagram" target="_blank" rel="noopener"></a>
            <a href="http://twitter.com/chiosbeer" class="twitter" target="_blank" rel="noopener"></a>
          </div>
          <div class="menu-footer">
            <p class="enjoy-responsibly">
              <a href="ypefthini-katanalosi.html">
                Υπεύθυνη Κατανάλωση
              </a> |
              <a href="#">
                Όροι Χρήσης
              </a>
            </p>
            <p class="copyrights">
              <a href="#">
                Alos © {{ 'now' | date: "%Y" }}
              </a>
              <a href="#">
                Designed by Faze Design Studio
              </a>
            </p>
          </div>
        </div>
      </nav>
    {%- endif -%}
    {%- endif -%}
  </div>
</header>
