---
---

///////////
// Imports
///////////

@import "reset";


///////////
// Fonts
///////////

@font-face {
  font-family: "Cera";
  src: url("../../assets/fonts/Cera/TypeMates - Cera Pro Light copy.otf");
}

@font-face {
  font-family: "Zangezi";
  src: url("../../assets/fonts/Zangezi/ZangeziSans09-Regular.otf");
}


///////////
// General
///////////

html {
}

body {
  background: #252120;
  color: #fff;
  font-size: 14px;
  font-family: "Cera", sans-serif;
  line-height: 1.4;

  &.menu-active {
    overflow: hidden; // freeze scroll
  }
}

main {
  overflow: hidden;
  max-width: 100%;
}

.wrapper {
  max-width: 410px;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}


///////////
// Header
///////////

.site-header {
  position: fixed;
  width: 100%;
  transition: background .3s ease-in-out;

  @at-root .menu-active & {
    z-index: 1; // overshadow everything
  }
}

.logo {
  display: block;
  float: left;
  width: 80px;
  height: 33px;
  background: url("../../assets/images/logo.svg");
  font-size: 0;
}

#nav-trigger {
  display: none;

  // checked
  &:checked {

    ~ .trigger {
      display: flex;
      flex-direction: column;
    }
  }
}

// Menu

.menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  height: 24px;
  width: 30px;
  background-color: #2B2523;
  mask-image: url("../../assets/images/menu-closed.svg");
  -webkit-mask-image: url("../../assets/images/menu-closed.svg");
  transition: background-color .3s ease-in-out;

  // If is checked
  @at-root #nav-trigger:checked ~ label {
    z-index: 3; // bring front
    position: relative;

    .menu-icon {
      height: 23px;
      width: 23px;
      background: #fff;
      mask-image: url("../../assets/images/menu-opened.svg");
      -webkit-mask-image: url("../../assets/images/menu-opened.svg");
    }
  }
}

.trigger {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  background: #2B2523;
  background-image: url("../../assets/images/menu-bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.menu-links {
  margin: 40px 0 0;

  h2 {
    font-family: "Zangezi", sans-serif;
    color: #fff;
    font-size: 35px;
    margin: 0 0 10px;
    transition: color .4s ease;
  }

  a {
    color: currentColor;
  }
}

.social {
  margin: 20px 0;

  .instagram {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 15px 0 0;
    background: url("../../assets/images/instagram.png") no-repeat;
  }

  .twitter {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 15px 0 0;
    background: url("../../assets/images/twitter.png") no-repeat;
  }
}

.menu-footer {
  margin-top: auto; // align bottom

  a {
    color: #fff;
    text-decoration: none;
  }

  .enjoy-responsibly {
    margin: 0 0 13px;
    font-size: 13px;
  }

  .copyrights {
    font-size: 12px;
  }
}

// Scrolled

.site-header.scrolled {
  background: #2B2523;
  z-index: 1;

  @at-root .menu-active & {
    z-index: 2;
  }

  .menu-icon {
    background-color: #E9E8E5;
  }
}


///////////
// Main
///////////

main {
  // overflow-y: scroll;
  // scroll-snap-type: y mandatory;
  // height: 100vh;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  border-bottom: 1px solid #464646;
  background-repeat: no-repeat;

  .wrapper {
    min-height: 100vh;
  }
}

// Animated

#animation {
  min-height: auto;

  .wrapper {
    min-height: auto;
    padding: 0;
  }
}

#mpoukali-animated {
  transform: translateZ(0); // at cpu
  will-change: transform;
  position: absolute;
  width: 143px;
  height: 426px;
  background-image: url("../../assets/images/mpoukali-animated.png");
  z-index: 1;
  top: -450px;
  left: 50%;
  margin-left: -72px;
}

// Section 1

#start {
  background: #E9E8E5;
  background-image: url("../../assets/images/bg-s1.png");
  text-align: center;
  min-height: auto;
  height: 840px;

  .wrapper {
    padding-bottom: 90px;
    min-height: auto;
  }

  .start-img {
    display: block;
    width: 340px;
    height: 409px;
    margin: 80px auto 50px;
    background: url("../../assets/images/alos-start.png") no-repeat;
  }

  .epimeleia {
    display: block;
    width: 106px;
    height: 106px;
    margin: 0 auto 50px;
    background: url("../../assets/images/epimeleia.png") no-repeat;
  }

  .enarxi {
    font-family: "Zangezi", sans-serif;
    text-transform: uppercase;
    color: #2B2523;
    font-size: 24px;
    position: relative;

    &:after {
      content: "";
      width: 1px;
      height: 48px;
      background: currentColor;
      position: absolute;
      left: 50px;
      top: 30px;
    }
  }
}

// Section 2

#s2 {
  background-color: #252120;
  background-image: url("../../assets/images/bg-s2.png");
  background-position: 50%;
  min-height: auto;
  height: 805px;

  .wrapper {
    min-height: auto;
  }

  .text-s2 {
    font-size: 14px;
    max-width: 186px;
    margin: 90px 0 270px;
    float: right;
    position: relative;

    &:before {
      content: "";
      width: 23px;
      height: 29px;
      background-image: url("../../assets/images/koukounari-s2.png");
      position: absolute;
      left: 0px;
      top: -45px;
    }
  }

  .epimeleia {
    clear: both;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 0 60px;
    background: url("../../assets/images/epimeleia-s2.png") no-repeat;
  }

  .text-s2-2 {
    font-size: 15px;
    max-width: 290px;
    margin: 0 0 30px;
  }

  .buy-s2 {
    float: left;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.5em;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #574C49;
    margin: 0 0 50px;
  }
}

// Section 3

#s3 {
  background: #252120;
  min-height: auto;
  height: 916px;

  .wrapper {
    min-height: auto;
  }

  .ingredients {
    display: flex;
    flex-wrap: wrap;
    margin: 90px 0 80px;

    > p {
      padding: 25px;
      font-size: 16px;
      border: 1px solid #574C49;
      flex-grow: 1;
    }

    span {
      display: block;
      color: #A27B40;
      text-transform: uppercase;
      font-size: 13px;
      margin: 0 0 10px;
    }

    .vol {
      border-left: 0;
      border-right: 0;
    }

    .ingred {
      border-top: 0;
      width: 100%;
    }

    .more {
      border-top: 0;
      flex-grow: 0;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.5em;

      > a {
        color: currentColor
      }
    }
  }

  .epimeleia {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 0 195px;
    background: url("../../assets/images/epimeleia-s2.png") no-repeat;
  }

  .text-s3 {
    font-size: 14px;
    margin: 0 0 90px;
    position: relative;

    // move text to the foreground
    span {
      position: relative;
      z-index: 1;
    }

    // background
    &:before {
      content: "";
      position: absolute;
      top: -140px;
      left: -1000px;
      right: -1000px;
      height: 725px;
      background: #2B2523;
      z-index: 0;
    }

    // koukounari
    &:after {
      content: "";
      width: 23px;
      height: 29px;
      background-image: url("../../assets/images/koukounari-s2.png");
      position: absolute;
      left: 0px;
      top: -45px;
    }
  }
}

// Section 4

#s4 {
  background: #252120;
  min-height: auto;
  height: 2070px;

  .wrapper {
    min-height: auto;
  }

  .text-s4 {
    font-size: 14px;
    max-width: 315px;
    margin: 600px 0 110px;
    position: relative;

    // Stahi
    &:before {
      content: "";
      width: 146px;
      height: 220px;
      background-image: url("../../assets/images/stahy-s4.png");
      position: absolute;
      left: 50%;
      top: -520px;
      margin-left: -115px;
    }

    // Moon
    &:after {
      content: "";
      width: 104px;
      height: 106px;
      background-image: url("../../assets/images/moon-s4.png");
      position: absolute;
      right: 0;
      top: -140px;
      margin-left: -115px;
    }

    h3 {
      font-family: "Zangezi", sans-serif;
      font-size: 34px;
      margin: 0 0 10px;
      line-height: 1.1;
    }
  }

  img {
    display: block;

    // Hide large images
    &.large {
      display: none;
    }
  }

  .img1-s4 {
    margin: 0 auto 120px;
  }

  .text2-s4 {
    font-size: 14px;
    margin: 0 0 90px;
    position: relative;

    // background
    &:after {
      content: "";
      width: 287px;
      height: 193px;
      position: absolute;
      top: -40px;
      left: 30px;
      background-image: url("../../assets/images/epimeleia-s4-bg.png");
    }

    span {
      display: block;
      font-size: 13px;
      margin: 0 0 10px;
    }

    h3 {
      font-family: "Zangezi", sans-serif;
      font-size: 34px;
      margin: 0 0 10px;
    }
  }

  .img2-s4 {
    margin: 0 0 50px;
  }

  .img3-s4 {
    margin: 0 0 50px;
  }
}

// Section 5

#s5 {
  background: #E9E8E5;
  background-image: url("../../assets/images/bg-s5.png");
  color: #252120;
  text-align: center;

  .img1-s5 {
    display: block;
    margin: 150px auto 50px;
  }

  h3 {
    font-family: "Zangezi", sans-serif;
    font-size: 34px;
    margin: 0 0 10px;

    span {
      font-size: 20px;
      display: block;
      margin: 20px 0 0;
      font-weight: bold;
    }
  }

  p {
    font-size: 15px;
    margin: 20px 0 50px;
  }

  .buy-s5 {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.5em;
    color: #E9E8E5;
    background: #2B2523;
    padding: 15px 30px;
  }
}

// Section 6

#s6 {
  background: #252120;
  min-height: 0;

  .wrapper {
    min-height: 0;
  }

  h3 {
    font-family: "Zangezi", sans-serif;
    font-size: 34px;
    margin: 10px 0 30px;
  }

  p {
    font-size: 15px;

    a {
      display: block;
      text-decoration: none;
      color: currentColor;
      font-size: 24px;
      margin: 10px 0 0;
    }
  }

  .contact-btn {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.5em;
    color: #E9E8E5;
    padding: 15px 30px;
    border: 1px solid #574C49;
    display: inline-block;
    margin: 40px 0 10px;
  }
}

///////////
// Footer
///////////

.site-footer {
  border-top: 1px solid #605755;
  scroll-snap-align: start;
  scroll-snap-stop: normal;

  a {
    color: #fff;
    text-decoration: none;
  }

  .enjoy-responsibly {
    margin: 0 0 13px;
    font-size: 13px;
  }

  .copyrights {
    font-size: 12px;
  }
}


///////////////////////
// Ypefthini Katanalosi
///////////////////////

#ypefthini-katanalosi {
  background: #2B2523;
  padding: 110px 0 35px;
  min-height: auto;

  .wrapper {
    min-height: auto;
  }

  h1 {
    font-family: "Zangezi", sans-serif;
    font-size: 35px;
    margin: 10px 0 40px;
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 20px 33px;
    position: relative;

    &:before {
      content: "";
      width: 23px;
      height: 29px;
      background-image: url("../../assets/images/koukounari-s2.png");
      position: absolute;
      left: -36px;
      top: -9px;
    }
  }

  p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 20px;
  }

  ul {
    list-style: disc;
    list-style-position: inside;
    font-size: 14px;
    line-height: 1.4;

    li {
      margin: 0 0 15px;
    }
  }
}


////////////
// Age Wall
////////////

#agewall {
  display: none;
}

body.agewall {
  overflow: hidden;

  & > *:not(#agewall) {
    display: none !important;
  }

  #agewall {
    display: block;

    .infant-alert {
      display: none;
    }
  }

  #agewall.alert {

    .infant-alert {
      display: block;
    }
  }
}
