---
---

///////////
// General
///////////

html {
}

body {
}

.wrapper {
  max-width: 1330px;
}

///////////
// Header
///////////

.logo {
  width: 94px;
  height: 38px;
  background-size: cover;
}

.site-header.scrolled {
  z-index: 3;
}

// Menu

.menu-icon { // hide mobile trigger
  display: none;
}

.trigger { // container
  display: block;
  background: none;
  width: auto;
  height: auto;
  top: 50%;
  padding: 0;
  right: 20px;
  left: auto;
  text-align: right;
  transform: translateY(-50%);

  @at-root #nav-trigger:checked ~ & {
    display: block;
  }
}

.menu-links { //links
  margin: 0;

  h2 {
    font-family: "Cera", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #434343;
    font-size: 0;
    line-height: 12px;

    a:after { // line right
      content: "";
      display: inline-block;
      width: 62px;
      height: 1px;
      background: currentColor;
      margin: 0 0 0 15px;
      vertical-align: middle;
      transition: width .2s ease;
    }

    @at-root body:not(.start, .s5) & {
      color: #fff;
    }
  }
}

// Animate accordingly

$sections: ("start": "1", "s2": "2", "nav3": "3", "nav4": "4", "s5": "5");

@each $section, $number in $sections {

  .#{$section} {

    .menu-links {

      h2:nth-child(#{$number}) {
        font-size: 12px;

        a:after {
          width: 92px;
          color: #A27B40;
        }
      }
    }
  }
}

.social,
.menu-footer { // hide social, menu-footer
  display: none;
}


///////////
// Main
///////////

// Animated

#mpoukali-animated {
  width: 204px;
  height: 607px;
  background-image: url("../../assets/images/mpoukali-s5-large.png");
  top: -850px;
  z-index: 4;
}

// Animated Texts

.fade {
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;

  &.left {
    transform: translateX(-200px);
  }

  &.right {
    transform: translateX(200px);
  }

  &.fadeIn {
    opacity: 1;
    transform: translateX(0px);
  }
}

// Section 1

#start {
  height: 965px;
  background-image: url("../../assets/images/bg-s1-large.png");
  background-size: cover;

  .start-img {
    width: 444px;
    height: 529px;
    margin: 130px auto 80px;
    background: url("../../assets/images/alos-start-large.png") no-repeat;
  }

  // Hide epimeleia as it's in the main image above
  .epimeleia {
    display: none;
  }

  .enarxi {
    font-size: 25px;

    &:after {
      height: 67px;
      top: 40px;
    }
  }
}

// Section 2

#s2 {
  background-image: url("../../assets/images/bg-s2-large.png");
  height: 965px;

  .wrapper {
    padding: 30px 150px 30px;
    position: relative;
  }

  .text-s2 {
    font-size: 15px;
    max-width: 220px;
    margin: 400px 80px 100px 0;
  }

  .epimeleia {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 277px;
    margin: 0 0 0 230px;
    background: url("../../assets/images/epimeleia-s2-large.png") no-repeat;
  }

  .text-s2-2 {
    clear: both;
    max-width: 220px;
    margin: 0 0 30px;
  }

  .buy-s2 {
    padding: 15px 50px;
  }
}

// Section 3

#s3 {
  height: 1050px;

  .wrapper {
    padding: 30px 150px 30px;
    position: relative;
  }

  .ingredients {
    position: relative;
    max-width: 480px;
    margin: 210px 0 230px;

    > p {
      padding: 30px;
      font-size: 20px;
    }

    .more {
      background: #2B2523;
    }

    // Alos monogram to the right
    &:after {
      content: "";
      position: absolute;
      width: 838px;
      height: 328px;
      left: 565px;
      background: url("../../assets/images/bg-s3-large.png") no-repeat;
    }
  }

  // reposition next to the text s3
  .epimeleia {
    position: absolute;
    width: 130px;
    height: 130px;
    margin: -40px 0 195px;
    z-index: 1;
    left: 930px;
    background: url("../../assets/images/epimeleia-s2-large.png") no-repeat;
  }

  .text-s3 {
    font-size: 15px;
    margin: 0 0 150px;
    max-width: 315px;

    // color background
    &:before {
      top: -100px;
      left: -1000px;
      right: -653px;
      height: 950px;
    }
  }
}

// Section 4

#s4 {
  height: 2080px;

  .wrapper {
    padding: 30px 150px 30px;
    position: relative;

    // Alos monogram to the bottom right
    &:after {
      content: "";
      position: absolute;
      width: 838px;
      height: 328px;
      left: 790px;
      bottom: 35px;
      background: url("../../assets/images/bg-s3-large.png") no-repeat;
    }
  }

  .text-s4 {
    font-size: 15px;
    margin: 330px 0 260px 500px;

    // Stahi large
    &:before {
      width: 164px;
      height: 280px;
      background-image: url("../../assets/images/stahy-s4-large.png");
      left: -290px;
      top: -205px;
    }

    // Moon large
    &:after {
      width: 167px;
      height: 169px;
      background-image: url("../../assets/images/moon-s4-large.png");
      right: -75px;
      top: -315px;
    }

    h3 {
      font-size: 40px;
      margin: 0 0 10px -30px;

      &:first-letter {
        margin-left: -30px;
      }
    }
  }

  // Show large images
  img {
    display: none;

    &.large {
      display: block;
    }
  }

  .img1-s4 {
    float: right;
    margin: 0 70px 100px 0;
  }

  .text2-s4 {
    clear: both;
    float: right;
    width: 360px;
    font-size: 15px;
    margin: 100px 70px 0 0;
    padding: 105px 0 30px 90px;

    // background Ioannidis signature
    &:after {
      width: 435px;
      height: 287px;
      top: 0;
      left: 0;
      background-image: url("../../assets/images/epimeleia-s4-bg-large.png");
    }

    h3 {
      font-size: 40px;
    }

    h3,
    span,
    p {
      z-index: 2;
      position: relative;
    }

    // background color below text
    &:before {
      content: "";
      position: absolute;
      top: -110px;
      left: -1000px;
      right: -70px;
      height: 500px;
      background: #2B2523;
      z-index: 0;
    }
  }

  .img2-s4 {
    z-index: 1;
    position: relative;
    top: 305px;
    left: -25px;
  }

  .img3-s4 {
    z-index: 1;
    position: relative;
    padding: 60px;
  }

  // Smaller screens fix positioning
  @media screen and (max-width: 1319px) {

    .img2-s4 {
      position: absolute;
      top: 1130px;
      right: 670px;
      left: auto;
    }

    .img3-s4 {
      padding: 100px 70px 70px;
    }
  }
}

// Section 5

#s5 {
  background-image: url("../../assets/images/bg-s5-large.png");
  background-size: cover;
  min-height: 1010px;

  .wrapper {
    max-width: 900px;
    text-align: right;
    padding-right: 500px;
  }

  // Hide image, bottle will render as pseudo below
  .img1-s5 {
    display: none;
  }

  h3 {
    font-size: 40px;
    margin: 330px 0 20px;
    line-height: 1.1;
    float: right;
    max-width: 300px;
    position: relative;

    span {
      margin: 10px 0 0;
    }

    // Beer to the right
    &:after {
      content: "";
      position: absolute;
      width: 204px;
      height: 607px;
      right: -300px;
      bottom: -350px;
      background: url("../../assets/images/mpoukali-s5-large.png") no-repeat;
    }
  }

  p {
    clear: both;
  }

  .buy-s5 {
    padding: 15px 50px;
  }
}

// Section 6

#s6 {

  .wrapper {
    min-height: 0;
    display: flex;
    justify-content: space-between;
    padding: 100px 30px;
  }

  h3 {
    font-size: 40px;
    max-width: 300px;
    line-height: 1.1;
    margin: 0;
  }

  p {
    font-size: 15px;
    align-self: center;

    a {
      font-size: 25px;
    }
  }

  .contact-btn {
    padding: 15px 50px;
    margin: 0;
    align-self: center;
  }
}


///////////
// Footer
///////////

.site-footer {

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}


///////////////////////
// Ypefthini Katanalosi
///////////////////////
