<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <section id="agewall">
      <div class="wrapper">
        <h1>ΑΛΩΣ</h1>
        <p>
          Eπιβεβαιώνω οτι είμαι 18 χρονών και άνω.
          <span>
            Θέλετε να συνεχίσετε;
          </span>
        </p>
        <button id="no">Οχι</button>
        <button id="yes">Ναι</button>
        <div class="infant-alert">
          Λυπόμαστε, αλλά πρέπει να είστε πάνω από 18 ετών για να επισκεφτείτε την ιστοσελίδα μας!
        </div>
      </div>
    </section>

  </body>
</html>
