---
layout: default
---

<section id=start>
  <div class="wrapper">
    <span class="start-img"></span>
    <span class="epimeleia"></span>
    <a href="#s2" class="enarxi">'Εναρξη</a>
  </div>
</section>

<section id=s2>
  <div class="wrapper">
    <p class="text-s2">
      Κάθε φιάλη κρύβει μέσα της μια μοναδική εμπειρία, χρησιμοποιώντας διαλεκτές βύνες και αρωματικούς λυκίσκους.
    </p>
    <span class="epimeleia"></span>
    <p class="text-s2-2">
      Χειροποίητη από τη Ζυθοποιία Χίου με την επιμέλεια του Πάνου Ιωαννίδη.
    </p>
    <a href="#" class="buy-s2">ΑΓΟΡΑΣΕ ΤΗΝ</a>
  </div>
</section>

<section id=s3>
  <div class="wrapper">
    <div class="ingredients">
      <p class="style">
        <span>style</span>
        Pale Ale
      </p>
      <p class="vol">
        <span>vol</span>
        7%
      </p>
      <p class="ml">
        <span>ml</span>
        330
      </p>
      <p class="ingred">
        <span>ingredients</span>
        Nερό, βύνη κριθαριού, <br>
        λυκίσκος, μαγιά.
      </p>
      <p class="more">
        περισσότερα
      </p>
    </div>
    <span class="epimeleia"></span>
    <p class="text-s3">
      Η Άλως είναι φαινόµενο ατελές. <br>
      Όµως το ζητούµενο σε αυτό το µπουκάλι, δεν είναι η τελειότητα, αλλά η ισορροπία.
    </p>
  </div>
</section>
