---
layout: default
---

<section id=start>
  <div class="wrapper">
    <span class="start-img"></span>
    <span class="epimeleia"></span>
    <a href="#s2" class="enarxi" id="enarxi">'Εναρξη</a>
  </div>
</section>

<section id="s2">
  <div class="wrapper cf">
    <p class="text-s2">
      Κάθε φιάλη κρύβει μέσα της μια μοναδική εμπειρία, χρησιμοποιώντας διαλεκτές βύνες και αρωματικούς λυκίσκους.
    </p>
    <span class="epimeleia"></span>
    <p class="text-s2-2">
      Χειροποίητη από τη Ζυθοποιία Χίου με την επιμέλεια του Πάνου Ιωαννίδη.
    </p>
    <a href="https://chiosbeer.gr/cb/shop/alosbeer24/" class="buy-s2" target="_blank" rel="noopener">ΑΓΟΡΑΣΕ ΤΗΝ</a>
  </div>
</section>

<section id=s3>
  <div class="wrapper">
    <div class="ingredients">
      <p class="style">
        <span>style</span>
        Pale Ale
      </p>
      <p class="vol">
        <span>vol</span>
        7%
      </p>
      <p class="ml">
        <span>ml</span>
        330
      </p>
      <p class="ingred">
        <span>ingredients</span>
        Nερό, βύνη κριθαριού, <br>
        λυκίσκος, μαγιά.
      </p>
      <p class="more">
        <a href="https://chiosbeer.gr/cb/shop/alosbeer24/" target="_blank" rel="noopener">
          περισσότερα
        </a>
      </p>
    </div>
    <span class="epimeleia"></span>
    <p class="text-s3">
      <span>
        Η Άλως είναι φαινόµενο ατελές. <br>
        Όµως το ζητούµενο σε αυτό το µπουκάλι, δεν είναι η τελειότητα, αλλά η ισορροπία.
      </span>
    </p>
  </div>
</section>

<section id=s4>
  <div class="wrapper">
    <div class="text-s4">
      <h3>Πίσω από <br>
        το μπουκάλι.
      </h3>
      <p>
        Διαθλά το φως της σελήνης και την συμπληρώνει όπως η φρέσκια μπύρα την γαστρονομία. Μυηθείτε υπεύθυνα.
      </p>
    </div>
    <img src="assets/images/img1-s4.png" class="img1-s4">
    <img src="assets/images/img1-s4-large.png" class="img1-s4 large">
    <div class="text2-s4" id=text2-s4>
      <span>
        ΜΕ ΤΗΝ ΕΠΙΜΕΛΕΙΑ ΤΟΥ
      </span>
      <h3>
        Πάνου Ιωαννίδη
      </h3>
      <p>
        Στην Χίο δημιουργήσαμε την Άλως. Με διαλεκτές πρώτες ύλες, αγάπη και χρόνο την ζυμώναμε για καιρό, μέχρι να πετύχουμε την τέλεια ισορροπία.
      </p>
    </div>
    <img src="assets/images/img2-s4.png" class="img2-s4">
    <img src="assets/images/img3-s4.png" class="img3-s4">
    <img src="assets/images/img2-s4-large.png" class="img2-s4 large">
    <img src="assets/images/img3-s4-large.png" class="img3-s4 large">
  </div>
</section>

<section id=s5>
  <div class="wrapper">
    <img src="assets/images/mpoukali-s5.png" class="img1-s5">
    <h3>
      Ζυμωμένη με βύνη, λυκίσκο <br>
      & αγάπη
      <span>
        ...στα καζάνια της Χίου
      </span>
    </h3>
    <p>
      Μυηθείτε υπεύθυνα σε επιλεγμένα σημεία και ελάτε να μιλήσουμε για φευγαλέες ισορροπίες.
    </p>
    <a href="https://chiosbeer.gr/cb/shop/alosbeer24/" class="buy-s5" target="_blank" rel="noopener">ΑΓΟΡΑΣΕ ΤΗΝ</a>
  </div>
</section>

<section id=s6>
  <div class="wrapper">
    <h3>
      Κανε τώρα την Άλως δική σου!
    </h3>
    <p>
      Για παραγγελίες χονδρικής, <br>
      κάλεσέ μας σήμερα στο:
      <a href="tel:+302271033107" class="tel">+30 22710 33107</a>
    </p>
    <a href="https://chiosbeer.gr/cb/contact/" class="contact-btn" target="_blank" rel="noopener">ΕΠΙΚΟΙΝΩΝΙΑ</a>
  </div>
</section>

<section id=animation>
  <div class="wrapper">
    <span id="mpoukali-animated"></span>
  </div>
</section>
