---
layout: default
---

<section id="ypefthini-katanalosi">
  <div class="wrapper">
    <h1>
      ΥΠΕΥΘΥΝΗ <br>
      ΚΑΤΑΝΑΛΩΣΗ
    </h1>
    <h3>
      Η δέσμευσή μας
    </h3>
    <p>
      Στην Ζυθοποιία Χίου επιθυμούμε τα προϊόντα που παράγουμε να δημιουργούν στους καταναλωτές μας απολαυστικές εμπειρίες, όμορφα συναισθήματα και αποκλειστικά ευχάριστες αναμνήσεις. Για τον λόγο αυτό απευθυνόμαστε αποκλειστικά σε ενηλίκους και εναντιωνόμαστε στην χωρίς μέτρο κατανάλωση.
    </p>
    <p>
      Στόχος μας να τονίσουμε στον καταναλωτή ότι η κατανάλωση μπίρας εφόσον γίνεται με υπευθυνότητα συμβάλλει σε έναν πιο ασφαλή, υγιή και θετικό τρόπο ζωής και ότι ο ίδιος έχει την επιλογή και ατομική ευθύνη να το επιτύχει.
    </p>
    <p>
      Παρακαλούμε καταναλώστε υπεύθυνα.
    </p>
  </div>
</section>

<section id=s6>
  <div class="wrapper">
    <h3>
      Κανε τώρα την Άλως δική σου!
    </h3>
    <p>
      Για παραγγελίες χονδρικής, <br>
      κάλεσέ μας σήμερα στο:
      <a href="tel:+302271033107" class="tel">+30 22710 33107</a>
      κάλεσέ μας σήμερα στο:
    </p>
    <a href="#" class="contact-btn">ΕΠΙΚΟΙΝΩΝΙΑ</a>
  </div>
</section>
