---
layout: default
title: About
---

<section id="ypefthini-katanalosi">
  <div class="wrapper">
    <h1>
      ΥΠΕΥΘΥΝΗ <br>
      ΚΑΤΑΝΑΛΩΣΗ
    </h1>
    <h3>
      Η δέσμευσή μας
    </h3>
    <p>
      Στην Αθηναϊκή Ζυθοποιία θέλουμε η κατανάλωση των προϊόντων μας να συνδέεται πάντα με ευχάριστες εμπειρίες που φέρνουν κοντά τους ανθρώπους, δημιουργούν θετικές αναμνήσεις και προσφέρουν απόλαυση. Είμαστε αντίθετοι στην κατάχρηση και τη χωρίς μέτρο κατανάλωση γι αυτό και κάθε χρόνο πραγματοποιούμε πολλαπλές δράσεις για την προώθηση της Υπεύθυνης Κατανάλωσης αλκοόλ.
    </p>
    <ul>
      <li>
        Αυτοδεσμεύεται και θέτει από μόνη της υψηλά πρότυπα και αυστηρούς κανόνες για την υλοποίηση της επικοινωνίας της.
      </li>
      <li>
        Κάθε εμπορική δράση και επικοινωνία της απευθύνεται αποκλειστικά σε ενηλίκους και αποφεύγονται ενέργειες που μπορεί να εμπλέκουν ανηλίκους
      </li>
      <li>
        Οι διαφημίσεις της προβάλλουν την κατανάλωση αλκοόλ και όχι τα αποτελέσματά της.
      </li>
      <li>
        Οι διαφημίσεις στην τηλεόραση προβάλλονται μετά τις 19.00, ενώ οι πρωταγωνιστές είναι άτομα άνω των 18 ετών.
      </li>
      <li>
        Δεν χορηγεί εκδηλώσεις που απευθύνονται σε άτομα κάτω του νομίμου ορίου ηλικίας κατανάλωσης αλκοόλ.
      </li>
    </ul>
  </div>
</section>

<section id=s6>
  <div class="wrapper">
    <h3>
      Κανε τώρα την Άλως δική σου!
    </h3>
    <p>
      Για παραγγελίες χονδρικής, <br>
      κάλεσέ μας σήμερα στο:
      <a href="tel:+301231243" class="tel">+30 12 31 243</a>
    </p>
    <a href="#" class="contact-btn">ΕΠΙΚΟΙΝΩΝΙΑ</a>
  </div>
</section>
